*{box-sizing:border-box;}
      body {background-image: url("kresba.png");background-repeat:no-repeat;
      background-attachment:fixed;background-position:top center;font-size: 100%;
      text-align: center;}
      #vrch{margin-top:250px;}
      #vrch p {display:inline;}
      a:hover img{transform:scale(1.5);-webkit-transition: 1s;transition: 1s;}
      a{text-decoration: none;color:black;padding-left: 15px;}
      a:hover{color:red;}
      #dole{margin-top:100px;}
      @media only screen and (max-width: 700px){#vrch p {display: block;}
      #dole img{width:100%;}}
